.App {
    padding: 1rem;
    text-align: center;
}

table {
    border-spacing: 0;
    border: 1px solid black;
}

th, td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.modal {
    background: rgba(0, 0, 0, 0.6);
  }
  
.modal-container {
    position: absolute;
    width: 60%;
    background: #ffffff;
    left: 25%;
    top: 30%;
    padding: 20px;
}